<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Links Favoritos</h1>
            <h3 class="mb-3">
                <em>Almacena tu enlaces favoritos</em>
            </h3>
            <a href="/users/registro" class="btn btn-primary">Iniciemos !! </a>
        </div>

    </header>
</main>