<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Links app</title>
    {{! Fuentes de Google}}

    {{! Fonts awesome}}
    <script src="https://kit.fontawesome.com/0ada251a66.js" crossorigin="anonymous"></script>
    {{! Bootstrap 4}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    {{!css}}
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
    {{> navigation}}
    {{{ body }}}
</body>
</html>